Package: com.crylico.1passwordinjector
Name: 1passwordinjector
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kyle Levin
Author: Kyle Levin
Section: Tweaks
